body {
  background-color: darkslateblue;
}

#bodytitle {
  color: black;
  font-family: 'Patrick Hand', sans-serif;
  background-color: rgb(212, 212, 212);

  
}

.bodycontent{
    font-family: 'Nunito', sans-serif;
    padding-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    background-color: rgb(212, 212, 212);
    border-radius: 8px;
}

footer{
    padding: 100px;
}

footer a{
    margin:0 auto;
    width:auto;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    
}

footer p{
    margin:0 auto;
    width:auto;
    display: block;
    text-align: center;
    color: white;   
}

footer p:hover{
    text-decoration: underline;
}

footer a:hover{
    text-decoration: underline;
}

strong{
    padding-bottom: 15px;
}

ul{
    padding-bottom: 50px;
}

.factlink{
    display: block;
    text-align: center;
    
}